
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
body{
   
    background-color: rgba(255, 255, 34, 0.644);
}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;

}
.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.7);
}
.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja__trasera div p, .caja__trasera div button{
    margin-top: 30px;

}
.caja__trasera h3{
    font-weight: 400;
    font-size: 26px;
}
.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 300ms;
}
.caja__trasera button:hover{
    background: white;
    color: #46A2FD;
}
/*FORMULARIOS*/
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 20px;
    /*transicion del login y registro*/

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}
/*LETRAS H2*/
.contenedor__login-register h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}
/*INPUT REGISTRO*/
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}
/*BOTON REGISTRO*/
.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: white;
    cursor: pointer;
}
.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}

/*DISEÑO RESPONSIVO*/
@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }
    /*Diseño responsivo de los formularios*/
    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-register form{
        position: relative;
    }
}
/*BODY ADMIN*/
.carrusel{
    padding: 50px;
}
.b__admin{
    margin-left: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}
/*MENU ADMINISTRADOR*/
.menu__admin{
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}
.icon_menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}
.icon_menu i{
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #03224f;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow: scroll;
    border-right: 20px solid #03224f;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*OCULTAR SCROLL PARA CHROME, SAFARI Y OPERA*/
.menu__side::-webkit-scrollbar{
    display: none;
}
/*OCULTAR SCROLL PARA IE, EDGE Y FIREFOX*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.name__page i{
    width: 20px;
    margin-right: 20px;
}
.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}
.options__menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}
.options__menu a:hover{
    color: white;
}
.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}
.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;

}
.options__menu .option h5{
    font-weight: 300;
    cursor: pointer;
}
/*Clases para usar en JS*/
.b_move{
    margin-left: 250px;
}
.menu__side_move{
    width: 250px;
}

/*CERRAR SESION USUARIO*/
.cerrar_user a{
   text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 65px;

}

/*BUSCAR*/
.buscador{
display: flex;
justify-content: flex-end;
padding: 20px;

}
.buscador input[type="text"]{
    border-radius: 1px;
    padding: 10px;
    font-size: 16px;
}

   
/*FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(/assets/img/background-footer.svg);
    background-size: cover;
}
.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo img{
    width: 250px;
}
.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}
.box__footer h2{
    margin-bottom: 20px;
    color: #343434; 
    font-weight: 700;
    font-size: x-large;
}
.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    text-decoration: none;
}
.box__footer a:hover{
    opacity: 0.8;
}
.box__footer a .fab{
    font-size: 20px;
}
.box__copyrigth{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyrigth p{
    margin-top: 20px;
    color: #7a7a7a;

}
.box__copyrigth hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}